<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=15.0">
    <title>Input Text</title>
</head>
<body>
    <h1>Input Text</h1>
    <form action="/input_text" method="POST" id="textForm">
        <label for="text">Enter Text:</label>
        <input type="text" id="text" name="text" required>
        <button type="submit">Submit</button>
        <a href="http://127.0.0.1:5000/get_messages">show history from the last 30 minutes</a>
    </form>
</body>
</html>
